/* desktop first */

/* breakpoint compreso tra 420px e 1023px */
@media screen and (min-width:420px) and (max-width:1023px) {
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
  }
  .row {
    width: 100%;
    margin-top: 50px;
      padding: 0 5%;
  }
  /* blocco lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 40%;
    margin: 0 5%;
  }
  #lezioni .left img {
    width: 120px;
    height: auto;
  }
  #lezioni .right img {
    width: 180px;
    min-width: 180px;
    height: auto;
  }
  /* blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 40%;
    margin: 0 5%;
  }
  #steps .row>.right {
    float: left;
    width: 100%;
    margin: 20px auto 0;
    padding: 0 10%;
  }
  /* blocco perchè */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 0;
  }
}

/* breakpoint inferiore ai 420px */
@media screen and (max-width:419px) {
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 80%;
    height: auto;
    max-height: 200px;
  }
  .row {
    width: 100%;
    margin-top: 50px;
    padding: 0 5%;
  }
  .row::after {
    display: none;
  }

  /* bisogna sovrascrivere le regole per gli id */

  /* blocco lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin-top: 30px;
  }

  /* blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-top: 30px;
  }

  /* blocco perchè */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 30px;
  }
  #why .row img {
    padding: 5px;
  }
}
